<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

    <title>Inicio</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light"  style="background-color: #6f1d68;">
    <a class="navbar-brand" href="home"  style="color:white">Repuestos</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav mr-auto my-2 my-lg-0 navbar-nav-scroll" style="max-height: 100px;">
        <li class="nav-item">
          <a class="nav-link" href="create" style="color:white">Agregar Repuesto  <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="view" style="color:white">Buscar Repuestos  <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="registroventa" style="color:white">Registro de Ventas  <span class="sr-only">(current)</span></a>
        </li>
        <br>
      </ul>

        <a class="nav-link" href="sell" style="color:white">Carrito  <span class="sr-only">(current)</span></a>

    </div>
    
  </nav>  


  

<table class="table table-light">
    <thead class="thead-light">
      <tr> 
        <th>NOMBRE REPUESTO</th>
        <th>MARCA</th>
        <th>MODELO</th>
        <th>AÑO</th>
        <th>UBICACIÓN</th>
        <th>PRECIO</th>
        <th>CODIGO</th>
        <th>ACCIÓN</th>
      </tr> 
    </thead>
<tbody>
            
    {% for repuesto in datos %}
    <tr>
        <td>{{repuesto[0]}}</td>
        <td>{{repuesto[1]}}</td>
        <td>{{repuesto[2]}}</td>
        <td>{{repuesto[3]}}</td>
        <td>{{repuesto[4]}}</td>
        <td>{{repuesto[5]}}</td>
        <td>{{repuesto[6]}}</td>
        <td>
        <a style="color:rgb(176, 39, 39) ;" href="/dismiss/{{repuesto[6]}}">Eliminar del carro</a>
        </td>
    </tr>
    {% endfor %}
</tbody>
</table>
    {% for repuesto1 in datos1%}
<table class="table table-light">
    <thead class="thead-light">
        <tr>
        <th style="text-align:center">TOTAL CARRITO: {{repuesto1[0]}} </th>
        </tr>
    </thead>
        <tbody>
            <tr>

            </tr>
        </tbody>
</table>
    
    {% endfor %}
    <form method="post" action="/carrito" enctype="multipart/form-data">
    <div style="text-align:center">
      <th><input type ="submit" value="Confirmar Venta" name="btnVender" id="btnVender"></th>
      <th><input type ="submit" value="Limpiar Carrito" name="btnLimpiar" id="btnLimpiar"></th>
    </div>
    </form>